{% extends "layout.twig" %}

{% block content %}
<h1 style="text-align: center;">ADMINISTRA&Ccedil;&Atilde;O</h1>
<h3 style="text-align: center;">&Aacute;rea Administrativa</h3>
<div style="text-align: center;">
    <a href="/">Homepage</a>
</div>
<h6 style="text-align: center;">by <a href="http://twitter.com/mlalbuquerque">@mlalbuquerque</a></h6>
{% endblock %}
