#close {
    margin-left: 50px;
}

ul {
    list-style-type: decimal-leading-zero;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
}
